body{
    background-color: 	#535c5c;
}

header{
    top: 0;
    right: 0;
    left: 0;
    position: relative;
    background-color: #535c5c;
    padding: 1.5%;
    font-family: 'Righteous', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

.img_topo{
    width: 100%;
    margin-bottom: 2%;
}

.img_corpo{
    width: 40%;
    margin-bottom: 2%;
    margin-top: 2%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 4em;
    margin-top: 1%;
    font-family: 'Righteous', cursive;
}

p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: justify;
    line-height: 1.3;
    font-family: 'Luckies Guy', cursive;
    /* text-indent: 40px; */
}

.parag_funcao p{

    font-size: 2.0rem;
    color: rgb(0, 0, 0);
    text-align: justify;
    line-height: 1.3;
}

.fundo_diferente{
    background-color: #535c5c;
}

.pinta_botao{
    width: 150px;
    height: 50px;
    background-color: #535c5c;
    margin: auto
}

.botao{
    padding-top: 15px;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

.iten_menu{
    line-height: 1.5;
    text-align: center;
    font-size: 2em;
}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1.5%;
    font-family: 'Righteous', cursive;
}

footer p{
    text-align: center;
    font-size: 1.2em;
}

.iten_menu a:link{
    color: red;
}

.iten_menu a:visited{
    color: green
}

.iten_menu a:hover{
    color: black;
}
.iten_menu a:active{
    color: blue
}

.container a:link{
    color: red;
}

.container a:visited{
    color: green
}

.container a:hover{
    color: black;
}
.container a:active{
    color: blue
}
h2{
    text-align: center;
    color: rgba(29, 204, 29, 0.692);
    font-size: 4em;
    margin-top: 1%;
    padding-bottom: 2%;
    font-family: 'Righteous', cursive;
}

footer > p{
    font-size: 1.5em;
}

.controle p{
    text-align: justify;
}

.escondido{
    display: none;
}

.jogabilidade{
    float: right;
    width: 500px;
    margin-left: 5px;
}

.botao a:hover{
    color: red
}

.botao a:link{
    color: blue;
}

a{
    text-decoration: none;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-family: 'Lobster Two', cursive;

    
}

th{
    font-size: 1.5em

}

th,td{
    border: 5px ridge #000000;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    
}

audio{
    width: 70%;
}

td:first-child{
    width: 40%;
  }

td:first-child + td{
    width: 60%;
}

.borda{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

label{
    padding: 12px 12px 12px 0px;
    font-family: 'Luckies Guy', cursive;

}

input[type=text], select, textarea, input[type=tel], input[type=email]{
    width: 90%;
    padding: 12px;
    border: 3px solid #000000;
    border-radius: 15px;
    resize: vertical;
}

input[type=submit]{
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: 'Luckies Guy', cursive;

}

input[type=submit]:hover {
    background-color: white;
    color: black;
    font-family: 'Luckies Guy', cursive;
  }

  .row:after{
    content: "";
    display: table;
    clear: both;
}
.row-botao{
    margin-top: 2%;
}


@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .banner{
        margin-top: 40%;
    }
}

@media screen and (min-width: 601px) {
    header{
        flex-direction: row;
    }

    .iten_menu{
        position: absolute;
        right: 3%;
        top: 30%;
        width: 60%;
    }

    .iten_menu ul li{
        display: inline;
        margin-left: 1%;
    }

    .banner{
        margin-top: 8%;
    }

}