body{background-color: 	#535c5c;
}

.img_topo{
    width: 100%;
    margin-bottom: 2%;
}

.img_corpo{
    width: 40%;
    margin-bottom: 2%;
    margin-top: 2%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 4em;
    margin-top: 1%;
}

p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: justify;
    text-indent: 40px;
}

.parag_funcao > p{

    font-size: 3em;
}

.fundo_diferente{
    background-image: linear-gradient(to right, #252020 , #fff);
}

.pinta_botao{
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to right, #252020 , #fff);
    margin: auto
}

.botao{
    padding-top: 15px;
}

html{
    scroll-behavior: smooth;
}

.iten_menu{
    line-height: 1.5;
  text-align: center;
}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
}

.menu, footer{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1.5%;
}

footer p{
    text-align: center;
    font-size: 1.2em;
}

.iten_menu a:link{
    color: red;
}

.iten_menu a:visited{
    color: green
}

.iten_menu a:hover{
    color: black;
}
.iten_menu a:active{
    color: blue
}

.container a:link{
    color: red;
}

.container a:visited{
    color: green
}

.container a:hover{
    color: black;
}
.container a:active{
    color: blue
}